body {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .wrapper {
    margin: 6% 8% !important;
    max-width: 900px;
  }

  .messageBody {
    display: flex;
    justify-content: space-between;
    max-width: 800px !important;
  }

  .messageBody div {
    font-weight: 100;
    text-align: right;
  }

  .reactionDiv {
    margin: 0 !important;
  }

  .repliesDiv {
    max-width: 400px;
    margin-left: 400px;
  }

  .reply {
    background-color: #f0ffe0;
    padding: 0.5rem 0;
    margin: 0;
  }
   
  .message-input {
    width: 89%;
  }
  
  .messagesWrapper {
    overflow: auto;
    background-color: #f0fefe !important;
  }
  
  .myMessage {
    margin-left: 72% !important;
  }
  
  .actionsBtn {
    padding: 0 !important;
    background: #fff !important;
    margin-left: 5px !important;
}